.nav:hover {
    background-color: #f7f7f7;
    color: #080808d8;
    text-decoration: underline;
    font-family: 'Calibri', sans-serif;
}
.nav:active {
    background-color: #f62c2c;
    color: #080808d8;
    text-decoration: underline;
    font-family: 'Calibri', sans-serif;
}

h1 {
    color: indigo;
    text-align: center;
    font-size: clamp(2rem, 5vw, 3rem);
    font-family: 'Calibri', sans-serif;
    font-weight: bolder;
    text-decoration: underline;
    Border: 2px solid rgb(142, 216, 15);
}

H2 {
    color: blue;
    text-align: center;
    font-size: clamp(1.5rem, 3vw + 0.5rem, 3rem);
    font-family: 'Calibri', sans-serif;
}

p {
    color: black;
    font-size: 1.25rem;
    font-family: 'Calibri', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: clamp(1.25rem, 2.5vw, 1.5rem);
    color: black;
    font-weight: bold;
}

body {
     background-image: url('../images/daria-yakovleva-texture-2068283.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    padding: 20px;
    border-radius: 0.5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}
